<!DOCTYPE html>
<html>
  <head>
    <title>GreatCutFlowers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag 'application', 'data-turbolinks-track': 'reload' %>
  

  </head>

  <body>
    <header class="main">
      <%= image_tag 'rails.png' , alt: 'GreatCutFlowers' %>
      <h1><%= @page_title %></h1>
    </header>
    <section class="content">
      <nav class="side_nav">
       <div id="cart" class="carts">
         <%= render_if @cart && @cart.line_items.any?, @cart %>
       </div> 
               
        <ul>
          <li><a href="/"><i class="fa fa-fw fa-home"></i>Home</a></li>

          <li class="side_nav_link">
          <%= link_to store_about_path do %><i class="fa fa-fw fa-search"></i> 
          About Us 
          <% end %>
        </li>

        <li class="side_nav_link">
          <%= link_to store_news_path do %><i class="fa fa-fw fa-globe"></i>   
          NEWS
          <% end %>
        </li>


          <li><a href="/contact"><i class="fa fa-fw fa-envelope"></i>Contact Us</a></li>
        </ul>
      </nav>

    <main class='<%= controller.controller_name %>'> 
    <%= yield %>
    </main>
    
    </section>
    <footer>
            <div class="footer-second">
                <div class="footer-column-3">
                    <h3>About Us</h3>
                    <a href="#">Our Company</a>
                    <a href="#">Our Services</a>
                    <a href="#">We Care</a>
                    <a href="#">Certifications</a>
                    <a href="#">Careers</a>
                </div>

                <div class="footer-column-2">
                    <h3>Customer Support</h3>
                    <a href="#">Contact Us</a>
                    <a href="#">Manage Account</a>
                    <a href="#">Track Your Order</a>
                    <a href="#">Order History</a>
                    
                    <%= link_to store_claims_path do %>   
                    Claims & Credit Policy
                    <% end %>

                    <%= link_to store_faqs_path do %>   
                    FAQs
                    <% end %>
                    
                    <%= link_to store_shipping_path do %>   
                    Shipping Policy
                    <% end %>


                   

                </div>
                <div class="footer-column-1">
                    <h3>News</h3>
                    <a href="#">VENTE PRIVEE</a>
                    <a href="#">Coming Up: The week of 42 for Gypsophila</a>
                    <a href="#">GCF Rewards</a>
                    <a href="#">Purchase Agreement</a>
                </div>
            
            </div>

            <div class="bottom-details">
            <div class="bottom-text">
            <span class="copyright_text">Copyright &copy; 2023 <a href="#"> GreatCutFlowers, LLC</a> - All rights reserved - </span>
            <span class="policy_terms">            

          <%= link_to store_privacy_path do %>   
          Privacy Policy -
          <% end %>
        
          <%= link_to store_terms_path do %>   
          Terms & Conditions
          <% end %>
                
            </span>
            </div>
            

            </div>      
    
            <div class="media-icons">
                <h4>FOLLOW US</h4>
                <i class="fa fa-facebook-square" style="font-size:36px"></i>
                <i class="fa fa-twitter" style="font-size:36px"></i>
                <i class="fa fa-instagram" style="font-size:36px"></i>
                <i class="fa fa-linkedin-in" style="font-size:36px"></i>
                <i class="fa fa-youtube" style="font-size:36px"></i>
            </div>

    </footer>
    </body>
</html>


